<h2>R!DE ON!について</h2>

<section id="about">
  <div>
    <h5><strong>R!DE ON!とは</strong></h5>
    <p>R!DE ONは自転車を楽しむ人のために、サイクリングコースの情報共有するサイトです。</p>

    <h5><strong>R!DE ON!の主な機能</strong></h5>
    <p><strong>1.サイクリングスポットの閲覧</strong></p>
    <p>・他の人や自分が投稿したオススメスポットをMapから参照することができます。<br>
       ・気に入ったスポットにはいいねやお気に入り登録、コメントの投稿ができます</p>
    <p>※お気に入り登録、コメントはログイン時のみ可能<br>
        Mapに表示させるスポットは『Search』ボタンで絞り込みができます。</p>

    <p><strong>2.サイクリングスポットの投稿</strong></p>
    <p>・ログイン後、ページ上部の「新規投稿」から、あなたのおすすめするスポットの共有ができます。</p>
    <p>・自分の投稿したスポットは後から編集・削除が可能です。</p>

    <p><strong>3.マイページ</strong></p>
    <p>・ログイン後、マイページから過去の自分の投稿や、お気に入り登録したスポットを閲覧することができます。</p>
    <p>※マイページには自分の投稿とお気に入りしたスポットしか表示されません。</p>

    <p><strong>さあ、あなたの楽しい思い出を共有しましょう！</strong></p>
  <div>
</section>
