/* 共通部分(body/header/footer)始まり */
body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(110, 169, 036);
  text-decoration: none;
}

a:hover {
  color: rgb(110, 169, 036);
  border-bottom: 2px solid rgb(110, 169, 036);
  padding-bottom: 3px;
  text-decoration: none;
}

header {
  background-color: #ffffff;
  height: 60px;
  margin: 0 auto;
  border-bottom: solid rgb(110, 169, 036);
}

.logo {
  float: left;
  font-size: 30px;
  margin-bottom: 0;
}

.global-nav {
  float: right;
}

.global-nav li {
  float: left;
  margin: 20px 5px 0 5px;
  font-size: 15px;
  list-style: none;
}

.global-nav li a {
  color: rgb(110, 169, 036);
}

.global-nav li a:hover {
  border-bottom: 1px solid rgb(110, 169, 036);
  padding-bottom: 3px;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: rgb(110, 169, 036);
  color: #ffffff;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}
/* 共通部分(body/header/footer)終わり */


/* 一覧表示ページ(index部分)始まり */
#index {
  width: 100%;
}

img {
  width: 100%;
}

.spots {
  margin: 0px 0 10px 0;
}

.spots h2 {
  color: #ffffff;
  background-color: rgb(110, 169, 036);
  display: inline;
}

.content {
  background-color: #ffffff;
  border: solid 2px #EEEEEE;
}

.content h3 {
  color: #ffffff;
  font-size: 20px;
  background-color: #333333;
  display: inline-block;
  opacity: 0.8;
  margin: 10px 0px 0px 5px;
}

.content img {
  margin-top: -30px;
}

.content img:hover {
  opacity: 0.8;
}

.content p {
  border-bottom: 2px solid rgb(110, 169, 036);
}

h2 {
  color: #ffffff;
  background-color: rgb(110, 169, 036);
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.like_number {
  color: #ffffff;
  background-color: rgb(110, 169, 036);
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width:600px) {
  h2 {
    font-size: 25px;
  }
}

/* 一覧表示ページ(index部分)終わり */

/* GoogleMap marker(spot#index/user#show共通)始まり */
.marker a {
  color: #3333FF;
}

.marker a:hover {
  border-bottom: 1px solid #3333FF;
  padding-bottom: initial;
  text-decoration: initial;
}

/* GoogleMap marker(spot#index/user#show共通)終わり */


/* 新規投稿ページ(new部分)始まり */
.new_image img {
  width: 50%;
  display: block;
  margin: auto;
}

.new_image p {
  text-align: center;
}

#new h2 {
  margin: 30px 50px 0px 50px;
}

.form {
  background-color: #ffffff;
  margin:  0px 50px 30px 50px;
  padding: 0px 30px 20px 30px;
}

.form dl dt {
  width: 300px;
  padding: 10px 0;
}

.form dl dd {
  padding: 10px 0;
}

.new_form {
  border: 1px solid;
  width: 70%;
}

.new_text_area_form {
  width: 70%;
  height: 200px;
}

.form .required:after {
  content: " * ";
  color: #ff0000;
}

.form .either:after {
  content: " ☆ ";
  color: #0000FF;
}

#readme h2 {
  margin: initial;
}

/* 新規投稿ページ(new部分)終わり */


/* 一覧表示ページ(show部分)終わり */

#detail img {
  margin-top: 0;
}

#comment {
  border-bottom: 2px solid #00FFFF;
  padding-left: 50px; 
}

.btn {
  margin: 10px;
}


@media screen and (min-width:600px) {
  .picture_content img {
    width: 50%;
    display: block;
    margin: auto;
  }
}
/* 一覧表示ページ(show部分)終わり */
