/* 共通部分(body/header/footer)始まり */
body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(110, 169, 036);
  text-decoration: none;
}

a:hover {
  color: rgb(110, 169, 036);
  border-bottom: 2px solid rgb(110, 169, 036);
  padding-bottom: 3px;
  text-decoration: none;
}

header {
  background-color: #ffffff;
  height: 100px;
  margin: 0 auto;
  border-bottom: solid rgb(110, 169, 036);
}

.logo {
  float: left;
  font-size: 64px;
  margin-top: -15px;
}

.global-nav {
  float: right;
  margin-top: 25px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 34px;
  list-style: none;
}

.global-nav li a {
  color: rgb(110, 169, 036);
}

.global-nav li a:hover {
  border-bottom: 2px solid rgb(110, 169, 036);
  padding-bottom: 3px;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: rgb(110, 169, 036);
  color: #ffffff;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}
/* 共通部分(body/header/footer)終わり */


/* 一覧表示ページ(index部分)始まり */
#index {
  width: 100%;
}

img {
  width: 100%;
}

.spots {
  margin: 50px 10px;
}

.spots h2 {
  color: #ffffff;
  background-color: rgb(110, 169, 036);
}

.content {
  background-color: #ffffff;
  font-size: 34px;
  margin: 10px 30px 60px 30px;
}

.content h3 {
  color: #ffffff;
  font-size: 40px;
  background-color: #333333;
  display: inline-block;
  opacity: 0.8;
  margin: 0px 0px 0px 10px;
}

.content img {
  margin-top: -70px;
}

.content img:hover {
  opacity: 0.8;
}

.content p {
  border-bottom: 2px solid rgb(110, 169, 036);
}

h2 {
  color: #ffffff;
  background-color: rgb(110, 169, 036);
}
/* 一覧表示ページ(index部分)終わり */


/* 新規投稿ページ(new部分)始まり */
.new_image img {
  width: 50%;
  display: block;
  margin: auto;
}

#new h2 {
  margin: 30px 50px 0px 50px;
}

.spot_form {
  background-color: #ffffff;
  margin:  0px 50px 30px 50px;
  padding: 0px 30px 20px 30px;
}

.spot_form dl dt {
  width: 165px;
  padding: 10px 0;
}

.spot_form dl dd {
  padding: 10px 0;
}

.new_form {
  border: 1px solid;
  width: 70%;
}

.new_text_area_form {
  width: 70%;
  height: 200px;
}

/* 新規投稿ページ(new部分)終わり */

