body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(110, 169, 036);
  text-decoration: none;
}

a:hover {
  color: rgb(110, 169, 036);
  border-bottom: 2px solid rgb(110, 169, 036);
  padding-bottom: 3px;
  text-decoration: none;
}

header {
  height: 100px;
  margin: 0 auto;
  border-bottom: solid rgb(110, 169, 036);
}

.logo {
  float: left;
  font-size: 64px;
  margin-top: -15px;
}

.global-nav {
  float: right;
  margin-top: 25px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 34px;
  list-style: none;
}

.global-nav li a {
  color: rgb(110, 169, 036);
}

.global-nav li a:hover {
  border-bottom: 2px solid rgb(110, 169, 036);
  padding-bottom: 3px;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: rgb(110, 169, 036);
  color: #ffffff;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}

