/* プロフィールページ(show部分)始まり */

.profile {
  width: 50%;
  margin: 0 auto;
}

.profile_img img {
  margin-top: 0px;
  width: 30%;
  display: block;
  margin: auto;
}


/* プロフィールページ(show部分)終わり */

/* 新規ユーザ登録ページ(new部分)始まり */
#user {
  width: 80%;
  margin: 50px auto;
}

#user .form {
  margin: 0px;
}

#user .new_image {
  background-color: #ffffff;
  padding-bottom: 10px;
}
/* 新規ユーザ登録ページ(new部分)終わり */

/* ユーザ情報修正ページ(edit部分)始まり */
.unsubscribe {
  padding-top: 30px;
}

.unsubscribe .danger {
  color: #FF0000;
  font-weight: bolder;
}

#user_icon {
  width: 160px;
}

/* ユーザ情報修正ページ(edit部分)終わり */