/* プロフィールページ(show部分)始まり */

.profile {
  width: 50%;
  margin: 50px auto;
}

.profile_img img {
  margin-top: 0px;
  width: 30%;
  display: block;
  margin: auto;
}

/* プロフィールページ(show部分)終わり */

/* 新規ユーザ登録ページ(new部分)始まり */
#new_user {
  width: 80%;
  margin: 50px auto;
}

#new_user .form {
  margin: 0px;
}

#new_user .new_image {
  background-color: #ffffff;
  padding-bottom: 50px;
}
/* 新規ユーザ登録ページ(new部分)終わり */