<p><%= @resource.email %>さん、こんにちは！</p>

<p>パスワードリセットのリクエストが行われました。以下のリンクをクリックしてパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたがパスワードリセットをリクエストしていない場合は、このメールを無視して下さい。</p>
<p>上記リンクをクリックして新しいパスワードを作成しない限り、パスワードは変更されません。</p>
